body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1rem;
}
.logo{
    color: white;
    font-size: 24px;
    text-decoration: none;
}
.hamburger{
   font-size: 2rex;
    background-color: white;
    cursor: pointer;
}
.menu{
    display: none;
    flex-direction: column;
    background-color: #444;
    position: absolute;
    top: 60px;
    right: 20px;
    width: 200px;
}
.menu a{
    color: white;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid #555;
}
@media(min-width: 769px) {
    .hamburger{
        display: none;
    }
    .menu{
        display: flex;
        position: static;
        flex-direction: row;
        background-color: transparent;
        width: auto;
    }
    
}