.container {
    display: grid;
   height: 500px;
   width: 500px;
   background-color: lightgray;
   border: 1px solid black;
   grid-template-columns: repeat(4,100PX);
    grid-template-rows: repeat(3,100PX);
    grid-gap: 10px;
    /* justify-items: center;
    align-items: center; */
    /* place-items: center; */
    justify-content: center;
    align-content: center; 
    /* place-content: space-around;*/
    /* justify-content: space-around;
    align-content: space-evenly; */
    grid-auto-columns: 60px;
    
}
.item{
    background-color: brown;
    border: 1px solid black;
    text-align: center;
    align-content: center;
    color: white;
}
 .item1{
   grid-column: 1/2;
   grid-row: 2/3;
   grid-column-start: 1;
   grid-column-end: 2;
}
.item2{
   grid-column: 5/6;
   grid-row: 2/3;
}
.item3{
  grid-column: 5/4;
}
.item4{
   grid-column: 2/3;
} 

